<nav>
    <div class="nav-brand">Email Assistant</div>
    <ul class="nav-links">
        <li><a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home</a></li>
        <li><a href="/emails" class="<%= currentPage === 'emails' ? 'active' : '' %>">Inbox</a></li>
        <li><a href="/emails/compose" class="<%= currentPage === 'compose' ? 'active' : '' %>">Compose</a></li>
    </ul>
</nav>