<nav>
    <div class="nav-brand">Email Assistant</div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Compose</a></li>
        <li><a href="#">History</a></li>
    </ul>
</nav>