<%-include('partials/header')%>
    <%-include('partials/navbar')%>
        <main>
            <h1>Compose</h1>
            <form action="/emails" method="POST">
                <label for="to">To</label>
                <input type="text" id="to" name="to" required>

                <label for="subject">Subject</label>
                <input type="text" id="subject" name="subject" requried>

                <label for="body">Body</label>
                <textarea id="body" name="body" requried></textarea>

                <button type="submit">Send</button>
            </form>
        </main>
        <%-include('partials/footer')%>