<%- include ('partials/header') %>
    <%-include ('partials/navbar')%>
        <main>
            <h1>Email Assistant</h1>
            <p>
                Welcome to Email Assistant
            </p>
        </main>

        <%- include('partials/footer') %>